# Python dependencies required for development
astunparse
expecttest>=0.2.1
hypothesis
numpy
psutil
pyyaml
requests
setuptools>=72.0.0
types-dataclasses
typing-extensions>=4.8.0
sympy==1.13.1 ; python_version >= "3.9"
filelock
networkx
jinja2
fsspec
lintrunner ; platform_system != "Windows"
ninja
packaging
optree>=0.13.0
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
